.foreword {
	overflow: hidden;
	position: relative;
	padding-top: 90px;
	padding-bottom: 30px;
	z-index: 1;
	@include max(767px) {
		padding: 0px;
	}

	&-content {
		@include max(1024px) {
			margin-top: 375px;
			margin-bottom: 120px;
		}
		@include max(767px) {
			margin-top: 310px;
		}
	}

	&-slogan {
		margin-bottom: 60px;
		@include max(1199px) {
			margin-bottom: 24px;
		}
		img {
			@include max(1199px) {
				width: 380px;
			}
		}
		@include max(767px) {
			width: 280px;
			margin-bottom: 24px;
		}
	}

	&-text {
		color: #fff;

		h2 {
			display: flex;
			font-weight: 600;
			font-size: 50px;
			line-height: 62px;
			align-items: flex-end;
			margin-bottom: 40px;
			@include max(1199px) {
				margin-bottom: 18px;
			}
			@include max(767px) {
				font-size: 20px;
				margin-bottom: 0px;
			}
			span {
				margin-left: 20px;
				margin-bottom: 18px;
				@include max(767px) {
					margin-left: 12px;
					margin-bottom: 28px;
					width: 40px;
					height: 40px;
				}
				img {
					@include max(767px) {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		p {
			width: 90%;
			font-size: 22px;
			line-height: 32px;
			@include max(1199px) {
				width: 70%;
			}

			@include max(1024px) {
				width: 100%;
			}

			@include max(767px) {
				width: 100%;
				font-size: 12px;
				line-height: 21px;
			}
			a {
				font-weight: 700;
				color: $primary;
				text-decoration: underline;

				&:hover {
					color: $primary;
				}
			}
		}
	}

	&-credits {
		margin-top: 30px;
		h2 {
			font-weight: 300;
			font-size: 29px;
			line-height: 44px;
			text-transform: capitalize;
			@include max(767px) {
				font-size: 14px;
				line-height: 44px;
				margin-bottom: 12px;
			}
		}

		img {
			@include max(767px) {
				width: 60%;
			}
		}
	}

	.navigation {
		@extend %pos-bottom;
		bottom: 70px;
		@include max(767px) {
			position: relative;
		}
	}

	&-shape {
		top: -25%;
		z-index: -1;
		right: -3%;
		width: 820px;
		height: 820px;
		user-select: none;
		overflow: hidden;
		position: absolute;
		border-radius: 50%;
		pointer-events: none;
		@include max(1440px) {
			width: 680px;
			height: 680px;
		}
		@include max(1024px) {
			top: 0;
			left: 55%;
			width: 120%;
			height: 440px;
			transform: translateX(-50%);
			border-radius: 0 0 50% 50%;
		}
		@include max(767px) {
			height: 280px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
